parameters:
    level: 5
    paths:
        - src/services
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Variable \$DBLIB might not be defined#'
        - '#Variable \$AUTH might not be defined#'
        - '#Variable \$CONFIG might not be defined#'
    reportUnmatchedIgnoredErrors: false
